@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --font-poppins: 'Poppins', system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-sand text-gray-800 antialiased;
    font-family: var(--font-poppins);
  }

  h1, h2, h3 {
    font-family: var(--font-poppins);
  }
}

@layer utilities {
  .bg-sand {
    background-color: #F0F0FA;
  }
}
